IGNMap/Builds/VisualStudio2022/*
IGNMap/Builds/VisualStudio2022/x64/Release/*
IGNMap/Builds/VisualStudio2022/x64/Debug/*
IGNMap/Builds/VisualStudio2026/*
IGNMap/Builds/VisualStudio2026/x64/Release/*
IGNMap/Builds/VisualStudio2026/x64/Debug/*
IGNMap/Builds/LinuxMakefile/build/*
IGNMap/Builds/LinuxMakefile/build/intermediate/*
IGNMap/Builds/VisualStudio2022/.vs/*
IGNMap/Builds/VisualStudio2026/.vs/*
IGNMap/Builds/MacOSX/*
IGNMap/Builds/MacOSX/build/Release/*
IGNMap/Builds/MacOSX/build/Debug/*
IGNMap/.DS_Store
IGNMap/Builds/.DS_Store
IGNMap/Builds/MacOSX/.DS_Store
IGNMap/Builds/MacOSX/IGNMap.xcodeproj
IGNMap/IGNMap_Kakadu.jucer
jpeg-9f/*
JUCE/*
JUCE-master/*
JUCE-develop/*
LASzip/*
libwebp-1.3.2/*
openjpeg/*
Sqlite/*
Kakadu/*
v6_4-00841C/*
zlib-1.3.1/*
**/.DS_Store
ONNX/*
vtzero/*
protozero/*
stb/*
